@{
    ViewBag.Title = "Portal - My Login";
}

@using POC.Web.Models

@model  UpdateLoginViewModel

<div class="container">
    <div class="row">

        @using (Html.BeginForm("UpdateLogin", "Authentication", FormMethod.Post))
        {
            @Html.EditorForModel()

            <button type="submit" class="btn btn-primary">Update</button>
        }
    </div>
</div>
