@{
    ViewBag.Title = "Todo - Add";
}

@using POC.Web.Models
@model AddTodoViewModel

@using (Html.BeginForm("Add", "Todo", FormMethod.Post, new { @class = "form-inline" }))
{
    <form class="form-inline">
        <div class="form-group mb-2">
            @Html.LabelFor(model => model.Title, new { @class = "sr-only" })
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control-plaintext", placeholder = "Enter todo title..." })
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add</button>
    </form>
}



