@{
    ViewBag.Title = "Portal - My Account";
}

@using POC.Web.Models

@model  AccountViewModel


@using (Html.BeginForm("Update", "Account", FormMethod.Post))
{
    @Html.EditorFor(model => model.Address)

    @Html.EditorFor(model => model.Header)

    <button type="submit" class="btn btn-primary">Update</button>
}
